<% layout('layout') %>
<% if (message) { %>
<div class="row">
    <div class="text-center locations-msg"><%- message %></div>
</div>
<% } else { %>
<div class="panel panel-default">
    <div class="panel-body">
        <% for (var i = 0; i < locations.length; i++) { %>
        <div class="row locations-list">
            <div class="col-sm-6 col-md-6">
                <p class="location-name">
                    <a href="locate/<%= locations[i]._id %>"><%= locations[i].name %></a>
                </p>
                <p><%= locations[i].address %></p>
                <span><%- starRating(locations[i].rating) %></span>
            </div>
            <div class="col-sm-6 col-md-6">
                <% if (locations[i].options.gluten_free) {%>
                <span class="label label-warning">Gluten-free</span>
                <% } %>
                <% if (locations[i].options.vegan) {%>
                <span class="label label-primary">Vegan</span>
                <% } %>
                <% if (locations[i].options.vegetarian) {%>
                <span class="label label-success">Vegetarian</span>
                <% } %>
                <% if (locations[i].options.soy_free) {%>
                <span class="label label-danger">Soy-free</span>
                <% } %>
                <% if (locations[i].options.nut_free) {%>
                <span class="label label-info">Nut-free</span>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>
<% } %>